<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memoss: Login</title>
    <link rel="stylesheet" href="/static/styles/log.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" href="/static/img/favicon.ico">
</head>
<body>
    <form method="post" enctype="text/plain">
        <label>
            <input name="nickname" placeholder="Введите ник">
            <input name="password" placeholder="Введите пароль">
            <input name="send-button" type="submit">
        </label>
    </form>

    <!--<form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="photo">Выберите файл</label>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>-->
</body>
</html>